.topBox {
    margin: auto;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 25px;
    row-gap: 15px;
}

.button {
    height: 48;
    width: 350;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7.5vw;
}

.dashboardNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2.5vw;
    margin-top: 2vw;
    gap: 25px;
    border-bottom: 1.5px solid #E0E4EC;
}

.dashboardButtonText {
    color: #717B8C;
    font-family: "Lexend Light";
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

  .dashboardButton:hover {
    border: 1px hidden #094FB7;
    border-radius: 2px;
    transition-duration: 500ms;
    background: #094fb723;
  }
.textbox {
    width: 34vw;
}
.longTextbox {
    width: 70vw;
}

.singleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.label {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Light";
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.serviceSelect {
    width: 250px;
}

.uploadContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2.5vw;
    margin-top: 25px;
    gap: 25px;
}

.uploadText {
    color: #717B8C;
    font-family: "Lexend Light";
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }

  .submitContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.borders {
    margin-bottom: 50px;
}