.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.titleText {
    color: #F0F5FF;
    font-family: "Lexend SemiBold";
    font-size: 28pt;
    font-weight: 100;
    margin-top: 3vh;
    text-align: center;
}

.subtitleText {
    color: #F0F5FF;
    font-family:'Lexend Regular'; 
    font-size: 18pt;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 60px;
    width: 648px;
    margin-top: 2vh;
  }

.descriptionText {
    color: #F0F5FF;
    font-family: "Lexend Light";
    font-size: 12pt;

}

.titleDescriptionText {
    color: #F0F5FF;
    font-family: "Lexend Light";
    font-size: 12pt;
    text-align: center;
    margin-top: 1vh;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
}