.menuScreen {
    display: block;
    padding: 25px;
    margin-top: 0px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #F0F5FF;
    height: 93.5vh;
    width: 25vw;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.searchBar {
    border-radius: 5px;
    background-color: #F0F5FF;
    border: solid 1px black;
    transition-duration: 500ms;
}

.searchBar:hover {
    background-color: #F0F5FF;
    box-shadow: 5px 5px 3.5px #094fb723;
    transition-duration: 500ms;
}

.dropDownContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menuTitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend SemiBold";
    font-size: 24pt;
    font-weight: 100;
    line-height: 20px;
    width: 45vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.menuSubtitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Light";
    font-size: 12pt;
    margin-left: -0.75vw;
}


.dropDown {
    margin-left: -15.5vw;
    margin-top: 1.5vw;
    width: 200px;
}

.dropDownText {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Light";
    font-size: 12pt;
}

.printerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 68vh;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 20px;
}
.printerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4vw;
    width: 30vw;
}

.paperTitle {
    display: flex;
    
}