.css-7olplg-MuiButtonBase-root-MuiButton-root {
    background-color: #E0E4EC !important;
}

.css-7olplg-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #E0E4EC !important; 
}

.css-1x2yrt-MuiButtonBase-root-MuiButton-root {
    background-color: #E0E4EC !important;
}

.css-1x2yrt-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #E0E4EC !important; 
}
