* {
    margin: 0;
    padding: 0;
}
.html {
    background-color: #094FB7;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color:#094FB7;
    overflow-x: hidden;
    width: 100%;
}

.StartScreen {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 75vh;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 10%;
}


.title {
  color: #F0F5FF;
  font-family: "Lexend Regular";
  font-size: clamp(50px, 6vw, 100px);
  font-weight: 600;
  letter-spacing: -1.3px;
  line-height: clamp(50px, 8vh, 200px);
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 3vw;
  gap: 1vw;
}
.subtitle { 
  color: #F0F5FF;
  font-family: "Lexend Regular";
  font-size: clamp(10px, 0.9vw, 20px);
  font-weight: 100;
  line-height: 20px;
  width: clamp(275px, 32vw, 475px);
}

.line{
  background-color: #F0F5FF;
  height: 60px;
  width: 3px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 3vw;
  gap: 1vw;
}

/* .userButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #F0F5FF;
  border-radius: 7px;
  padding: 0px 32px;
  width: fit-content;
} 

.userText{
  color: #094FB7;
  font-family: "Lexend Regular";
  font-size: 0.9vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -2px;
  white-space: nowrap;
  width: fit-content;
} */

/*FROM NOW ON: TUTORIAL*/

.tutorialBackground {
  display: block;
  height: 1700px;
  margin-top: clamp(725px, 50%, 1000px);
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 0px;
  background-color: #F0F5FF;  
}

.tutorialHeadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorialTitle {
  color: #094FB7;
  font-family:'Lexend Regular'; 
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: -0.84;
  line-height: 60px;
  text-align: center;
  width: 1320px;
  margin-top: 7vw;
}

.tutorialSubtitle {
  color: #094FB7;
  font-family:'Lexend Regular'; 
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  width: 648px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 3vw;
}

.printerFeatureCard {
  display: flex;
  align-items: flex-start;
  border: 1px solid;
  border-color: rgba(230, 232, 236, 0.502);
  border-radius: 20px;
  gap: 32px;
  padding: 40px;
  width: fit-content;
}

.cardsTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6vw;
}

.cardTitle {
  letter-spacing: 0;
  line-height: 32px;
  font-size: 1.5vw;
  font-weight: 200;
  white-space: nowrap;
  width: 460px;
  font-family: 'Lexend Regular';
}

.cardText {
  letter-spacing: 0;
  line-height: 24px;
  width: 460px;
  font-family: 'Lexend Light';
}



@media screen and (max-width: 900px) {
  .StartScreen {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
  }

  .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15vw;
  }
  .title {
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: clamp(50px, 6vw, 100px);
    font-weight: 600;
    letter-spacing: 0px;
    line-height: clamp(50px, 8vh, 200px);
  }
  
  .subtitleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3vw;
    gap: 1vw;
  }
  .subtitle { 
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: clamp(10px, 0.9vw, 20px);
    font-weight: 100;
    line-height: 20px;
    width: clamp(275px, 32vw, 475px);
    text-align: center;

  }
  
  .line{
    background-color: #094FB7;
    height: 60px;
    width: 3px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3vw;
    gap: 1vw;
  }
  
  .userButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F0F5FF;
    border-radius: 7px;
    padding: 0px 32px;
    width: fit-content;
  } 
  
  .userText{
    color: #094FB7;
    font-family: "Lexend Regular";
    font-size: 0.9vw;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 56px;
    margin-top: -2px;
    white-space: nowrap;
    width: fit-content;
  }

}