* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 200%;
}

body {
    background-color:#73fc77;
}

.StartScreen {  
    width: auto;
    height: 300px; 
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}

.title {
  display: block;
  text-align: center;
  color: #17252A;
  font-size: 60pt;
  font-family: 'Helvetica Neue';
}

.subtitle {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 14pt;
  font-family:'Helvetica Neue'; 
  color: #001b2e;
}

.block {
  display: block;
  margin: auto;
  width: 500px;
  height: 175px;
  border: 10px solid #001b2e;
  background-color:rgba(255, 255, 255, 0)
}


.scrollButton {
  margin: 50px auto;
  transition-duration: 400ms;
  cursor: pointer;
  align-self: center;
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px solid #001b2e;
  background-color: #001b2e;
  transition: background-color 500ms, color 500ms;
} 

.scrollButton:hover {
  background-color: #73fc77;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.44), 0 17px 50px 0 rgba(0,0,0,0.39);
  color: #001b2e;  
  transition: background-color 500ms, color 500ms;

}

.buttonText {
  color: #73fc77;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 6vh;
  min-width: 12vw;
  font-family: 'Helvetica Neue';
  transition: color 500ms, color 500ms;
}

.buttonText:hover {
  color: #001b2e;
  transition: background-color 500ms, color 500ms;

}

.tutorialBackground {
  display: block;
  width: 100%;
  height: 2500px;
  margin-top: 50%;
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 0px;
  background-color: #161616;  
}

.tutorialTitle {
  display: block;
  padding-top: 5%;
  text-align: center;
  color: #73fc77;
  font-size: 60pt;
  font-family: 'Helvetica Neue';
}

.tutorialSubtitle {
  display: block;
  padding-top: 0%; bottom: 0px; right: 0px; padding-left: 12%;
  font-size: 24pt;
  font-family:'Helvetica Neue'; 
  color: #73fc77;
}

.redVertical {
  top: 6.75%; bottom: 0px; right: 90%; margin-left: 0%;
  width: 10px;
  height: 400px;
  color:turquoise;
  background-color: turquoise;  
  border-radius: 100px;
  position: absolute;

}

.tutorialDescription {
  display: block;
  padding-top: 2px; bottom: 0px; right: 0px; padding-left: 12%;
  font-size: 12pt;
  font-family:'Helvetica Neue'; 
  color: #5ac55d;
}

.teamTutorialSubtitle {
  display: block;
  text-align: right;
  padding-top: 28.5%; bottom: 0px; padding-right: 12%; left: 0%;
  font-size: 24pt;
  font-family:'Helvetica Neue'; 
  color: #73fc77;
}

.teamVertical {
  top: 30%; bottom: 0px; right: 10%; margin-left: 0%;
  width: 10px;
  height: 400px;
  color:turquoise;
  background-color: turquoise;  
  border-radius: 100px;
  position: absolute;

}

.teamTutorialDescription {
  display: block;
  text-align: right;
  padding-top: 0%; bottom: 0px; padding-right: 12%; padding-left: 0%;
  font-size: 12pt;
  font-family:'Helvetica Neue'; 
  color: #5ac55d;
}