* {
    margin: 0;
    padding: 0;
}
.html {
    background-color: #094FB7;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color:#094FB7;
    overflow-x: hidden;
    width: 100%;
}

.StartScreen {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 10%;
}

.title {
  color: #F0F5FF;
  font-family: "Lexend Regular";
  font-size: clamp(50px, 6vw, 100px);
  font-weight: 600;
  letter-spacing: -1.3px;
  line-height: clamp(50px, 8vh, 200px);
  transition: 500ms;
  opacity: 1;
 }

.subtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 3vw;
  gap: 1vw;
}

.subtitle { 
  color: #F0F5FF;
  font-family: "Lexend Regular";
  font-size: clamp(10px, 0.9vw, 20px);
  font-weight: 100;
  line-height: 20px;
  width: clamp(275px, 32vw, 475px);
}

.line{
  background-color: #F0F5FF;
  height: 60px;
  width: 3px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 3vw;
  gap: 1vw;
}

/* .userButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #F0F5FF;
  border-radius: 7px;
  padding: 0px 32px;
  width: fit-content;
} 

.userText{
  color: #094FB7;
  font-family: "Lexend Regular";
  font-size: 0.9vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 56px;
  margin-top: -2px;
  white-space: nowrap;
  width: fit-content;
} */

/*FROM NOW ON: TUTORIAL*/

.dividerContainer {
  display: flex;
  justify-items: left;
}

#divider1 {
  width: 120.99vw;
  margin-top: 8vw;
  height: 200vw;
  margin-left: -22vw;
}
.tutorialBackground {
  display: block;
  height: 1600px;
  margin-top: clamp(725px, 50%, 1000px);
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 0px;
  background-color: #F0F5FF;  
}

.tutorialHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: clamp(0px, 10vw, 1000px);
}

.tutorialTitle {
  color: rgba(6, 28, 61, 1);
  font-family: "Lexend Regular";
  font-weight: 600;
  letter-spacing: -0.84px;
  line-height: 60px;
  margin-top: 7vw;
  width: fit-content;
  font-size: 26pt;
}

.tutorialSubtitle {
  color: #094FB7;
  font-family:'Lexend Regular'; 
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
  width: 648px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 3vw;
}

.printerFeatureCard {
  display: flex;
  align-items: flex-start;
  border: 1px solid;
  border-color: rgba(230, 232, 236, 0.502);
  border-radius: 20px;
  gap: 32px;
  padding: 40px;
  width: clamp(75px, 2vw, 200px);
}

.cardsTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6vw;
}

.cardTitle {
  letter-spacing: 0;
  line-height: 32px;
  font-size: 1.5vw;
  font-weight: 200;
  white-space: nowrap;
  width: 460px;
  font-family: 'Lexend Regular';
}

.cardText {
  letter-spacing: 0;
  line-height: 24px;
  width: 460px;
  font-size: clamp(14px, 1.5vw, 16px);
  font-family: 'Lexend Light';
}

.tutorialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 6px 0px;
  box-shadow: inset 0px -1.5px 0px #094FB7;
  width: fit-content;
  transition-duration: 500ms;
}

.tutorialButtonText {
  color: #094FB7;
  font-family: "Lexend Light";
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  
}

.arrowRight {
  color: #094FB7;
  height: 5vw;
  min-width: 20px;
}

.tutorialButton:hover {
  border: 1px hidden #094FB7;
  border-radius: 2px;
  transition-duration: 500ms;
  background: #094fb723;
}

.missionContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
  width: fit-content;
  margin-left: 10vw;
  margin-top: 3vw;
}

.missionHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: clamp(0px, 10vw, 1000px);
  margin-top: 5vw;
}
.missionTitle {
  color: rgba(6, 28, 61, 1);
  font-family: "Lexend Regular";
  font-weight: 600;
  letter-spacing: -0.84px;
  line-height: 60px;
  margin-top: 5vw;
  width: 1000px;
  font-size: 26pt;
}

.missionDescriptionContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  padding: 0px 0px 0px 0px;
  width: fit-content;
}

.missionDescriptionContainer2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  padding: 0px 0px 0px 24px;
  width: fit-content;
  box-shadow: inset 3px 0px 0px #094FB7;
}

.missionDescription {
  color: rgba(6, 28, 61, 1);
  font-family: "Lexend Light";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: -1px;
  width: 60vw;
}

.cuttlelogo {
  margin-top: -3vw;
  height: clamp(200px, 18vw, 300px);
  width: clamp(200px, 18vw, 300px);
}

.footerScreen {
  display: block;
  height: clamp(300px, 20vw, 500px);
  margin-top: clamp(2100px, 145%, 2500px);
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 0px;
  background-color: #02142E;  
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 20vw;
  margin-top: 4vw;
}

.footerColumn1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15vw;
}

.footerRow2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3vw;
  column-gap: 25vw;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.rowTitleBig {
  color: #F0F5FF;
  font-family: "Lexend SemiBold";
  font-size: 22pt;
  font-weight: 100;
  line-height: 20px;
  width: fit-content;
}
.rowTitle {
  color: #F0F5FF;
  font-family: "Lexend Regular";
  font-size: 16pt;
  font-weight: 100;
  line-height: 20px;
  width: fit-content;
}

.rowDescription {
  color: #F0F5FF;
  font-family: "Lexend Light";
  font-size: 10pt;
  font-weight: 100;
  line-height: 20px;
  margin-top: 1vw;
  width: fit-content;
  transition-duration: 250ms;
}

.rowDescription:hover {
  color: #0B63E5;
  font-family: "Lexend Light";
  font-size: 10pt;
  font-weight: 100;
  line-height: 20px;
  margin-top: 1vw;
  width: fit-content;
  transition-duration: 250ms;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vw;
  margin-top: 1vw;
}

.footerIcons {
  height: 100px;
  width: 80px;
  size: 5px;
  color: #F0F5FF;
  border: 1px hidden #f0f5ff63;
  border-radius: 6px;
  transition: 250ms;
}


.footerIcons:hover {
  transition: 250ms;
  background-color: #f0f5ff63;
}


@media screen and (max-width: 1150px) {
  .cardText {
    letter-spacing: 0;
    line-height: 24px;
    width: 390px;
    font-size: 16px;
    font-family: 'Lexend Light';
    }
  .cardTitle {
    letter-spacing: 0;
    line-height: 32px;
    font-size: 1.5vw;
    font-weight: 200;
    white-space: nowrap;
    width: 390px;
    font-family: 'Lexend Regular';
  }
  .tutorialBackground {
    display: block;
    height: 1500px;
    margin-top: clamp(725px, 50%, 1000px);
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: #F0F5FF;  
  }
  .tutorialHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0vw;
  }
  
  .tutorialTitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Regular";
    font-weight: 600;
    letter-spacing: -0.84px;
    line-height: 60px;
    margin-top: 5vw;
    width: fit-content;
    font-size: 22pt;
  }

  .missionHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0vw;
  }
  
  .missionTitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Regular";
    font-weight: 600;
    letter-spacing: -0.84px;
    line-height: 60px;
    margin-top: 5vw;
    width: fit-content;
    font-size: 22pt;
  }

  .missionDescription {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Light";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
    margin-top: -1px;
    width: 60vw;
  }

  .cuttlelogo {
    margin-top: -3vw;
    height: clamp(200px, 18vw, 300px);
    width: clamp(200px, 18vw, 300px);
  }
  
  .footerScreen {
    display: block;
    height: 300px;
    margin-top: clamp(2000px, 145%, 2200px);
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: #02142E;  
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20vw;
    margin-top: 4vw;
  }
  
  .footerColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15vw;
  }
  
  .footerRow2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vw;
    column-gap: 25vw;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .contactUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  }
  .rowTitleBig {
    color: #F0F5FF;
    font-family: "Lexend SemiBold";
    font-size: 22pt;
    font-weight: 100;
    line-height: 20px;
    width: fit-content;
  }
  .rowTitle {
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: 16pt;
    font-weight: 100;
    line-height: 20px;
    width: fit-content;
  }
  
  .rowDescription {
    color: #F0F5FF;
    font-family: "Lexend Light";
    font-size: 10pt;
    font-weight: 100;
    line-height: 20px;
    margin-top: 1vw;
    width: fit-content;
    transition-duration: 250ms;
  }
  
  .rowDescription:hover {
    color: #0B63E5;
    font-family: "Lexend Light";
    font-size: 10pt;
    font-weight: 100;
    line-height: 20px;
    margin-top: 1vw;
    width: fit-content;
    transition-duration: 250ms;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
    margin-top: 1vw;
  }
  
  .footerIcons {
    height: 100px;
    width: 80px;
    size: 5px;
    color: #F0F5FF;
    border: 1px hidden #f0f5ff63;
    border-radius: 6px;
    transition: 250ms;
  }
  
  
  .footerIcons:hover {
    transition: 250ms;
    background-color: #f0f5ff63;
  }

}

@media screen and (max-width: 1000px) {
  .StartScreen {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 80vh;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
  }

  .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15vw;
      margin-top: clamp(100px, 5vw, 500px);
  }
  .title {
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: clamp(50px, 6vw, 100px);
    font-weight: 600;
    letter-spacing: 0px;
    line-height: clamp(50px, 8vh, 200px);
  }
  
  .subtitleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3vw;
    gap: 1vw;
  }
  .subtitle { 
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: clamp(10px, 0.9vw, 20px);
    font-weight: 100;
    line-height: 20px;
    width: clamp(275px, 32vw, 475px);
    text-align: center;

  }
  
  .line{
    background-color: #094FB7;
    height: 60px;
    width: 3px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 3vw;
    gap: 1vw;
  }
  
  .userButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #F0F5FF;
    border-radius: 7px;
    padding: 0px 32px;
    width: fit-content;
  } 
  
  .userText{
    color: #7a7f86;
    font-family: "Lexend Regular";
    font-size: 0.9vw;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 56px;
    margin-top: -2px;
    white-space: nowrap;
    width: fit-content;
  }
  .divider1 {
    width: 0px;
    height: 0px;
  }

  .tutorialSubtitle {
    color: #094FB7;
    font-family:'Lexend Regular'; 
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 60px;
    text-align: center;
    width: 648px;
  }
  
  .cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 3vw;
  }
  
  .printerFeatureCard {
    display: flex;
    align-items: flex-start;
    border: 1px solid;
    border-color: rgba(230, 232, 236, 0.502);
    border-radius: 20px;
    gap: 32px;
    padding: 40px;
    width: clamp(100px, 3vw, 500px);
  }
  
  .cardsTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6vw;
  }
  
  .cardTitle {
    letter-spacing: 0;
    line-height: 32px;
    font-size: clamp(24px, 0.5vw, 60px);
    font-weight: 200;
    white-space: nowrap;
    width: 460px;
    font-family: 'Lexend Regular';
  }
  
  .cardText {
    letter-spacing: 0;
    line-height: 24px;
    max-width: clamp(px, 100vw, 460px);
    font-size: 16px;
    font-family: 'Lexend Light';
  }
  
  .tutorialBackground {
    display: block;
    height: 2000px;
    margin-top: clamp(725px, 50%, 1000px);
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: #F0F5FF;  
  }

  .missionScreen {
    display: block;
    height: 700px;
    margin-top: clamp(1150px, 50%, 1300px);
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: #F0F5FF;
  } 

  .tutorialHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0vw;
  }
  
  .tutorialTitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Regular";
    font-weight: 600;
    letter-spacing: -0.84px;
    line-height: 60px;
    margin-top: 5vw;
    width: fit-content;
    font-size: 18pt;
  }

  .missionContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 48px;
    margin-left: 0vw;
    margin-top: 7vw;
  }
  
  .missionHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0vw;
  }
  
  .missionTitle {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Regular";
    font-weight: 600;
    letter-spacing: -0.84px;
    line-height: 60px;
    margin-top: 5vw;
    text-align: center;
    font-size: 18pt;
  }

  .missionDescription {
    color: rgba(6, 28, 61, 1);
    font-family: "Lexend Light";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
    margin-top: -1px;
    width: clamp(180px, 55vw, 1200px);
  }

  .footerScreen {
    display: block;
    height: 300px;
    margin-top: clamp(2450px, 145%, 2600px);
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    background-color: #02142E;  
  }
  
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25vw;
    margin-top: 10vw;
  }
  
  .footerColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 7vw;
  }
  
  .footerRow2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5vw;
    column-gap: 15vw;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .contactUs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  }
  .rowTitleBig {
    color: #F0F5FF;
    font-family: "Lexend SemiBold";
    font-size: 18pt;
    font-weight: 100;
    line-height: 20px;
    width: fit-content;
  }
  .rowTitle {
    color: #F0F5FF;
    font-family: "Lexend Regular";
    font-size: 12pt;
    font-weight: 100;
    line-height: 20px;
    width: fit-content;
  }
  
  .rowDescription {
    color: #F0F5FF;
    font-family: "Lexend Light";
    font-size: 10pt;
    font-weight: 100;
    line-height: 20px;
    margin-top: 1vw;
    width: fit-content;
    transition-duration: 250ms;
  }
  
  .rowDescription:hover {
    color: #0B63E5;
    font-family: "Lexend Light";
    font-size: 10pt;
    font-weight: 100;
    line-height: 20px;
    margin-top: 1vw;
    width: fit-content;
    transition-duration: 250ms;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1vw;
    margin-top: 1vw;
  }
  
  .footerIcons {
    height: 100px;
    width: 80px;
    size: 5px;
    color: #F0F5FF;
    border: 1px hidden #f0f5ff63;
    border-radius: 6px;
    transition: 250ms;
  }
  
  
  .footerIcons:hover {
    transition: 250ms;
    background-color: #f0f5ff63;
  }
}