.body {
  background-color: #001b2e;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.body p {
  color: #fcfcfc;
}

a {
  text-decoration: none;
}

.App {
  background-color: #001b2e;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  align-items: center;
}

.Elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Elements a {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition-duration: 400ms;
  cursor: pointer;
  color: #fcfcfc;
}

.Elements a:hover {
  transform: translateY(-2px);
  color: #ef5d60;
}

.Auth {
  height: 100px;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  width: auto;
  text-align: right;
  justify-content: flex-end;
  margin-right: 30px;
}

.Auth a {
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition-duration: 400ms;
  cursor: pointer;
  color: #fcfcfc;
  align-self: center;
  margin-left: 40px;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #fcfcfc;
}

.Login:hover {
  background-color: #fcfcfc;
  color: #001b2e;
}

.SignUp:hover {
  transform: translateX(5px);
}

.GoogleLogo {
  background-image: url(./google.png);
  height: 30px;
  width: 30px;
  background-color: #fcfcfc;
  background-size: contain;
  margin-left: 20px;
}

.SignUp {
  background: #fcfcfc;
  position: relative;
}

.SignUp p {
  color: #001b2e;
}

.Upload {
  width: 100vw;
  height: 600px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 40px;
}

.Upload div {
  width: 45%;
  height: 100%;
}

.InfoBlurb {
  background-color: black;
}

.InfoBlurb h1 {
  font-size: 100px;
  color: #fcfcfc;
}

.InfoBlurb p {
  font-size: large;
  
}