.topBox {
    margin: auto;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.botBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button {
    height: 48;
    width: 350;
}
.Paper {
    display: block;
    margin: auto;
    width: 80%;
    height: 90%;
    padding-top: 1%; padding-bottom: 1%;
    margin-top: 1%;
}

.text {
    display: block;
    text-align: center;
    color: #EDD4B2;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-weight: 600;
    min-width: 12vw;
}



  /* position: 'absolute',
            top: '30%',
            bottom: '20%',
            left: '10%',
            right: '10%',
            display: 'flex',
            flexDirection: 'column',
            alignItems: 'center',
            
             */