.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: clamp(50px, 3vw, 1000px);
}

.registerPaper {
    width: 550px;
    height: 600px; 
    position: absolute;
    border-radius: 10px;
    background-color: #F0F5FF;
}
.MuiPaper-root {
    border-radius: 10px;
}

.registerTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.registerTitle {
    color: black;
    font-family: "Lexend SemiBold";
    font-size: 16pt;
    font-weight: 100;
    line-height: 20px;
    width: fit-content;
}

.subtitles {
    color: black;
    font-family: "Lexend Light";
    font-size: 12pt;
    
}